.snippet
  .d-flex.flex-column.bg-white.pt-3.px-3.rounded-sm.mb-3
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.active(aria-current='page') Home
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item.active(aria-current='page') Library
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item
          a(href='#') Library
        li.breadcrumb-item.active(aria-current='page') Data
