-
  const config = {
    name: 'Backstay',
    slug: 'backstay',
    tagline: 'stay extending from ship\'s mastheads to the side of the ship',
    isBackgroundLight: true,
    isPrimaryLight: true,
  };

include ../_/index
