$dropdown-padding-y: 0rem !default;
$dropdown-item-padding-y: 0.5rem !default;
$dropdown-item-padding-x: 1rem !default;
$dropdown-divider-margin-y: 0 !default;

$table-hover-bg: rgba(#000, 0.04) !default;
$table-dark-hover-bg: rgba(#fff, 0.05) !default;

// BREADCRUMB
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iIzU1NSIvPjwvc3ZnPg==) !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-padding-y: 0.5rem !default;
