-
  const themes = [
    {name: 'Abaculus', slug: 'abaculus'},
    {name: 'Backstay', slug: 'backstay'},
    {name: 'Cable', slug: 'cable'},
    {name: 'Dalton', slug: 'dalton'},
    {name: 'Ectype', slug: 'ectype'},
    {name: 'Ferula', slug: 'ferula'},
  ];
