.bg-white.text-dark.py-3.px-2.border-top.text-center
  div.
    Code released under the
      <a href="https://github.com/utkarshkukreti/bootstrap-themes/blob/master/LICENSE">MIT License</a>.
  div.
    Made by <a href="https://github.com/utkarshkukreti">Utkarsh Kukreti</a> for
     <a href="https://bootstrap-themes.com" title="Free Bootstrap Themes">Bootstrap-Themes.com</a>.
  div.
    Built on <a href="https://getbootstrap.com/">Bootstrap</a> with fonts from
     <a href="https://fonts.google.com/">Google</a>.
