extends layout

block head
  title Free Bootstrap Themes by Bootstrap-Themes.com
  link(rel="stylesheet" href="index.scss")

block body
  include ./nav
  .container.mt-4
    h1.h3.text-center Free Bootstrap Themes
    .h5.text-center.text-muted.mb-3 Lightweight, Customizable, Open Source#[br]Themes for Bootstrap 4.
    .d-flex.justify-content-center.mb-3
      .mr-1
        a.github-button(href='https://github.com/utkarshkukreti/bootstrap-themes/subscription', data-icon='octicon-eye', data-size='large', data-show-count='true', aria-label='Watch utkarshkukreti/bootstrap-themes on GitHub') Watch
      div
        a.github-button(href='https://github.com/utkarshkukreti/bootstrap-themes', data-icon='octicon-star', data-size='large', data-show-count='true', aria-label='Star utkarshkukreti/bootstrap-themes on GitHub') Star
    .d-flex.justify-content-center.mb-3
      a(href='https://www.producthunt.com/posts/bootstrap-themes-com?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-bootstrap-themes-com', target='_blank')
        img(src='https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=161406&theme=light', alt='Bootstrap-Themes.com - Six Lightweight Open Source Themes for Bootstrap 4 | Product Hunt Embed', style='width: 250px; height: 54px;', width='250px', height='54px')

    ul.list-unstyled.row
      for theme in themes
        li.col-lg-6.mb-4
          div.rounded.overflow-hidden.border.shadow-sm
            a(href=`${theme.slug}/index.pug`)
              img(src=`https://bootstrap-themes.nyc3.digitaloceanspaces.com/screenshots/${theme.slug}.png`)
  include ./footer
  script(src="index.js")
  script(async defer src="https://buttons.github.io/buttons.js")
